
WEBCUBE_DEVSERVER_HOST=localhost
WEBCUBE_DEVSERVER_PORT=8011

# https://webpack.github.io/docs/webpack-dev-server.html#webpack-dev-server-cli
# https://webpack.github.io/docs/webpack-dev-middleware.html#options
WEBCUBE_DEVSERVER_NOINFO=1
WEBCUBE_DEVSERVER_STATS_COLOR=1
WEBCUBE_DEVSERVER_HISTORYAPI=
WEBCUBE_DEVSERVER_WATCH_TIMEOUT=
WEBCUBE_DEVSERVER_WATCH_POLL=
# https://github.com/FormidableLabs/webpack-dashboard#options
WEBCUBE_DEVSERVER_DASHBOARD_PORT=

# https://github.com/dexteryy/Project-WebCube/tree/master/webcube-example-for-monorepo/#structure
WEBCUBE_CUSTOM_CONFIG_ROOT=configs
WEBCUBE_STATIC_ROOT=static

# https://github.com/yaniswang/HTMLHint
WEBCUBE_DISABLE_HTMLHINT=

# https://github.com/kangax/html-minifier
WEBCUBE_DISABLE_HTMLMIN=

# https://github.com/facebook/react/issues/436
# https://github.com/zilverline/react-tap-event-plugin
WEBCUBE_DISABLE_TAP_EVENT_ADDON=

# https://facebook.github.io/react/docs/perf.html
WEBCUBE_DISABLE_PERF_ADDON=

# https://babeljs.io/docs/plugins/transform-runtime/
# https://babeljs.io/docs/usage/polyfill/
# https://medium.com/@jcse/clearing-up-the-babel-6-ecosystem-c7678a314bf3
WEBCUBE_USE_POLYFILL_INSTEAD_OF_RUNTIME=1

# https://github.com/webpack/docs/wiki/optimization#deduplication
# https://github.com/webpack/webpack/issues/959
WEBCUBE_ENABLE_DEDUPE_PLUGIN=

# https://preactjs.com/guide/differences-to-react
# https://preactjs.com/guide/switching-to-preact
WEBCUBE_USE_PREACT=

# https://www.npmjs.com/package/url-loader
WEBCUBE_DATAURL_IMAGES_LIMIT=25000
WEBCUBE_DATAURL_FONT_LIMIT=25000

# http://christianalfoni.github.io/react-webpack-cookbook/Split-app-and-vendors.html
# https://webpack.github.io/docs/list-of-plugins.html#commonschunkplugin
WEBCUBE_ENABLE_COMMON_CHUNK=1
# https://www.npmjs.com/package/extract-text-webpack-plugin
WEBCUBE_ENABLE_EXTRACT_CSS=1

# http://christianalfoni.github.io/react-webpack-cookbook/Split-app-and-vendors.html
WEBCUBE_COMMON_CORE_MODULES=["react", "react-dom", "react-helmet", "core-decorators"]
WEBCUBE_COMMON_PROJECT_MODULES=[]

# https://github.com/postcss/autoprefixer
# https://github.com/ai/browserslist#queries
WEBCUBE_BROWSERS=["Android 2.3", "Android >= 4", "Chrome >= 16", "Firefox >= 31", "Explorer >= 9", "iOS >= 7", "Opera >= 12", "Safari >= 7.1"]

# https://webpack.github.io/docs/list-of-plugins.html#defineplugin
WEBCUBE_CLIENT_ENV_VARS=["WEBCUBE_STATIC_ROOT", "WEBCUBE_DISABLE_TAP_EVENT_ADDON", "WEBCUBE_USE_PREACT", "DEPLOY_ENV", "DEPLOY_MODE"]

WEBCUBE_STATIC_SERVER_ERROR_PAGE=
WEBCUBE_STATIC_SERVER_ENABLE_GZIP=
WEBCUBE_STATIC_SERVER_ENABLE_DEBUG=

# https://github.com/dexteryy/Project-WebCube/tree/master/webcube/#how-to-deploy-the-web-app
# https://github.com/dexteryy/Project-WebCube/blob/master/webcube/utils/index.js
WEBCUBE_DEPLOY_STATIC_CLOUD=oss
WEBCUBE_DEPLOY_STATIC_ROOT=http://my-domain-to-oss-bucket.com/static/
WEBCUBE_DEPLOY_STATIC_HTML_ROOT=http://my-domain-to-oss-bucket.com
WEBCUBE_DEPLOY_STAGING_STATIC_ROOT=http://staging.my-domain-to-oss-bucket.com/static/
WEBCUBE_DEPLOY_STAGING_STATIC_HTML_ROOT=http://staging.my-domain-to-oss-bucket.com
#WEBCUBE_DEPLOY_STATIC_CLOUD=s3
#WEBCUBE_DEPLOY_STATIC_ROOT=http://my-domain-to-s3-bucket.com/static/
#WEBCUBE_DEPLOY_STATIC_HTML_ROOT=http://my-domain-to-s3-bucket.com
#WEBCUBE_DEPLOY_STAGING_STATIC_ROOT=http://staging.my-domain-to-s3-bucket.com/static/
#WEBCUBE_DEPLOY_STAGING_STATIC_HTML_ROOT=http://staging.my-domain-to-s3-bucket.com

# https://github.com/dexteryy/Project-WebCube/blob/master/webcube/utils/staticcloud/oss.js
WEBCUBE_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
WEBCUBE_DEPLOY_OSS_ID=
WEBCUBE_DEPLOY_OSS_SECRET=
WEBCUBE_DEPLOY_OSS_BUCKET=mybucket
WEBCUBE_DEPLOY_STAGING_OSS_BUCKET=mybucket-staging

# https://github.com/dexteryy/Project-WebCube/blob/master/webcube/utils/staticcloud/s3.js
WEBCUBE_DEPLOY_S3_ENDPOINT=http://s3.amazonaws.com
WEBCUBE_DEPLOY_S3_ID=
WEBCUBE_DEPLOY_S3_SECRET=
WEBCUBE_DEPLOY_S3_BUCKET=mybucket
WEBCUBE_DEPLOY_STAGING_S3_BUCKET=mybucket-staging

# Multiple entry points


WEBCUBE_ENTRY_REACT_APP="./staticweb/react-app/deploy.js"

WEBCUBE_ENTRY_REACT_ROUTER_APP="./staticweb/react-router-app/deploy.js"

WEBCUBE_ENTRY_REACT_REDUX_APP="./staticweb/react-redux-app/deploy.js"

WEBCUBE_ENTRY_REACT_REDUX_ROUTER_APP="./staticweb/react-redux-router-app/deploy.js"
