{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "babel-plugin-transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-async-to-generator"
  ]
}
