{
  "presets": [
    "react"
  ],
  "plugins": [
    // ["transform-runtime", {
    //   "polyfill": true,
    //   "regenerator": false,
    // }],
    // "transform-strict-mode",
    // "transform-es2015-parameters",
    // "transform-object-rest-spread",
    // "transform-es2015-destructuring",
    // "transform-es2015-sticky-regex",
    // "transform-es2015-unicode-regex",
    "transform-es2015-modules-commonjs",
    "transform-class-properties",
    "transform-async-to-generator",
    "syntax-async-functions",
    "transform-decorators-legacy",
  ]
}
