.DS_Store
node_modules/
tmp
.npm
*.log
*.pid
*.report
package-lock.json
.vscode/**/*
!.vscode/settings.json
!.vscode/extensions.json
.webcube-version
.project-version
build/
dist/
coverage/
demo*/
app/demo*
src/demo*
