node_modules/
.npm
*.log
*.pid
.env
configs/rev-version.json
build/public/*
!build/public/static/
build/public/static/*
!build/public/static/favicon.png
coverage/
src/entries/demo-*
src/assets/demo-*
src/data/demo-*
src/components/Demo*
src/models/demo-*
containers/demo-*
test/demo-*
test/units/demo-*
test/units/Demo*
test/functionals/demo-*
configs/webpack.demo.*
