
@import '../styles/variables';

.root {
  position: absolute;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  background: $root-bg-color;
}

.page {
  position: absolute;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  background: $page-bg-color;
}
