.msg-success {
  composes: ui from 'semantic-ui-css/components/message.css';
  composes: icon from 'semantic-ui-css/components/message.css';
  composes: success from 'semantic-ui-css/components/message.css';
  composes: message from 'semantic-ui-css/components/message.css';
  width: auto !important;
  margin-top: 1em !important;
}

.msg-error {
  composes: ui from 'semantic-ui-css/components/message.css';
  composes: icon from 'semantic-ui-css/components/message.css';
  composes: negative from 'semantic-ui-css/components/message.css';
  composes: message from 'semantic-ui-css/components/message.css';
  width: auto !important;
  margin-top: 1em !important;
}

.msg-icon-ok {
  composes: checkmark from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/message.css';
}

.msg-icon-warn {
  composes: warning from 'semantic-ui-css/components/icon.css';
  composes: sign from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/message.css';
}

.msg-content {
  composes: content from 'semantic-ui-css/components/message.css';
}

.msg-header {
  composes: header from 'semantic-ui-css/components/message.css';
  margin-bottom: 0.5em !important;
}

.msg-enter {
  opacity: 0 !important;
}

.msg-enter-active {
  opacity: 1 !important;
  transition: opacity 0.4s !important;
}

.msg-leave {
  opacity: 1 !important;
}

.msg-leave-active {
  opacity: 0 !important;
  transition: opacity 0.4s !important;
}
