$placeholder-color: #999;
$button-bg-color: #2185d0;
$button-text-color: #fff;

.box {
  composes: ui from 'semantic-ui-css/components/segment.css';
  composes: segment from 'semantic-ui-css/components/segment.css';
}

.form {
  composes: ui from 'semantic-ui-css/components/form.css';
  composes: form from 'semantic-ui-css/components/form.css';
}

.readme {
  composes: ui from 'semantic-ui-css/components/message.css';
  composes: info from 'semantic-ui-css/components/message.css';
  composes: message from 'semantic-ui-css/components/message.css';
}

.feedback {
  display: block;
}

.two-fields {
  composes: two from 'semantic-ui-css/components/form.css';
  composes: fields from 'semantic-ui-css/components/form.css';
}

.three-fields {
  composes: three from 'semantic-ui-css/components/form.css';
  composes: fields from 'semantic-ui-css/components/form.css';
}

.field {
  composes: field from 'semantic-ui-css/components/form.css';
}

.dropdown {
  composes: ui from 'semantic-ui-css/components/dropdown.css';
  composes: fluid from 'semantic-ui-css/components/dropdown.css';
  composes: dropdown from 'semantic-ui-css/components/dropdown.css';
}

.dropdown-placeholder {
  composes: dropdown;
  color: $placeholder-color !important;
}

.actions {
  text-align: center;
}

.submit {
  composes: ui from 'semantic-ui-css/components/button.css';
  composes: submit from 'semantic-ui-css/components/button.css';
  composes: button from 'semantic-ui-css/components/button.css';
  background-color: $button-bg-color !important;
  background-image: none !important;
  color: $button-text-color !important;
  text-shadow: none !important;
}
