
.icon-photo {
  composes: camera from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/icon.css';
}

.icon-news {
  composes: newspaper from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/icon.css';
}
