
WEBCUBE_DEVSERVER_HOST=localhost
WEBCUBE_DEVSERVER_PORT=8000
WEBCUBE_DEVSERVER_NOINFO=1
WEBCUBE_DEVSERVER_STATS_COLOR=1
WEBCUBE_DEVSERVER_HISTORYAPI=
WEBCUBE_DEVSERVER_WATCH_TIMEOUT=
WEBCUBE_DEVSERVER_WATCH_POLL=
WEBCUBE_DEVSERVER_DASHBOARD_PORT=

WEBCUBE_CUSTOM_CONFIG_ROOT=configs
WEBCUBE_STATIC_ROOT=static

WEBCUBE_ENABLE_CHROME_FOR_KARMA=1
WEBCUBE_ENABLE_PHANTOM_FOR_KARMA=

WEBCUBE_DISABLE_ESLINT=
WEBCUBE_DISABLE_STYLELINT=
WEBCUBE_DISABLE_SASSLINT=
WEBCUBE_DISABLE_HTMLHINT=

WEBCUBE_DISABLE_HTMLMIN=

WEBCUBE_DISABLE_TAP_EVENT=

WEBCUBE_DISABLE_PERF_ADDON=

WEBCUBE_USE_POLYFILL_INSTEAD_OF_RUNTIME=

WEBCUBE_USE_PREACT=

WEBCUBE_DATAURL_IMAGES_LIMIT=25000
WEBCUBE_DATAURL_FONT_LIMIT=25000

WEBCUBE_ENABLE_COMMON_CHUNK=1
WEBCUBE_ENABLE_EXTRACT_CSS=1

WEBCUBE_COMMON_CORE_MODULES=["whatwg-fetch", "react", "react-dom", "react-addons-shallow-compare", "react-addons-css-transition-group", "react-helmet", "core-decorators"]
WEBCUBE_COMMON_PROJECT_MODULES=[]

# https://github.com/ai/browserslist#queries
WEBCUBE_BROWSERS=["Android 2.3", "Android >= 4", "Chrome >= 16", "Firefox >= 31", "Explorer >= 9", "iOS >= 7", "Opera >= 12", "Safari >= 7.1"]

WEBCUBE_CLIENT_ENV_VARS=["WEBCUBE_STATIC_ROOT", "WEBCUBE_DISABLE_TAP_EVENT", "WEBCUBE_USE_PREACT"]

WEBCUBE_DEPLOY_STATIC_CLOUD=oss
WEBCUBE_DEPLOY_STATIC_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com/static/
WEBCUBE_DEPLOY_STATIC_HTML_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com

#WEBCUBE_DEPLOY_STATIC_CLOUD=s3
#WEBCUBE_DEPLOY_STATIC_ROOT=http://mybucket.s3.amazonaws.com/static/
#WEBCUBE_DEPLOY_STATIC_HTML_ROOT=http://mybucket.s3.amazonaws.com/

WEBCUBE_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
WEBCUBE_DEPLOY_OSS_ID=
WEBCUBE_DEPLOY_OSS_SECRET=
WEBCUBE_DEPLOY_OSS_BUCKET=mybucket

WEBCUBE_DEPLOY_S3_ENDPOINT=http://s3.amazonaws.com
WEBCUBE_DEPLOY_S3_ID=
WEBCUBE_DEPLOY_S3_SECRET=
WEBCUBE_DEPLOY_S3_BUCKET=mybucket

#WEBCUBE_ENTRY_EXAMPLE_APP="./staticweb/example-app/deploy.js"
#WEBCUBE_DEMO_LANG="./app/entries/demo-page2"
