
APP_DEVSERVER_HOST=localhost
APP_DEVSERVER_PORT=8000
APP_CUSTOM_CONFIG_ROOT=configs
APP_STATIC_ROOT=static

APP_ENABLE_CHROME_FOR_KARMA=1
APP_ENABLE_PHANTOM_FOR_KARMA=

APP_DISABLE_ESLINT=
APP_DISABLE_STYLELINT=
APP_DISABLE_SASSLINT=
APP_DISABLE_HTMLHINT=

APP_DISABLE_HTMLMIN=

APP_USE_POLYFILL_INSTEAD_OF_RUNTIME=

APP_DATAURL_IMAGES_LIMIT=25000
APP_DATAURL_FONT_LIMIT=25000

APP_ENABLE_COMMON_CHUNK=1
APP_ENABLE_EXTRACT_CSS=1

APP_COMMON_CORE_MODULES=["whatwg-fetch", "react", "react-dom", "react-tap-event-plugin", "react-addons-shallow-compare", "react-helmet", "core-decorators", "react-addons-css-transition-group"]
APP_COMMON_APP_MODULES=[]

# https://github.com/ai/browserslist#queries
APP_BROWSERS=["Android 2.3", "Android >= 4", "Chrome >= 16", "Firefox >= 31", "Explorer >= 9", "iOS >= 7", "Opera >= 12", "Safari >= 7.1"]

RUNTIME_ENV_VARS=["APP_STATIC_ROOT"]

APP_DEPLOY_STATIC_CLOUD=oss
APP_DEPLOY_STATIC_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com/static/
APP_DEPLOY_STATIC_HTML_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com

#APP_DEPLOY_STATIC_CLOUD=s3
#APP_DEPLOY_STATIC_ROOT=http://mybucket.s3.amazonaws.com/static/
#APP_DEPLOY_STATIC_HTML_ROOT=http://mybucket.s3.amazonaws.com/

APP_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
APP_DEPLOY_OSS_ID=
APP_DEPLOY_OSS_SECRET=
APP_DEPLOY_OSS_BUCKET=mybucket

APP_DEPLOY_S3_ENDPOINT=http://s3.amazonaws.com
APP_DEPLOY_S3_ID=
APP_DEPLOY_S3_SECRET=
APP_DEPLOY_S3_BUCKET=mybucket

#APP_ENTRY_EXAMPLE_APP="./staticweb/example-app/deploy.js"
#APP_DEMO_LANG="./app/entries/demo-page2"
