
.welcome {
  $light-color: #FFFFFF;
  $highlight-color: #0099FF;
  position: absolute;
  top: 50px;
  right: 50px;
  left: 50px;
  padding: 50px;
  text-align: center;
  opacity: 1;
  transition: opacity 400ms ease-in-out;

  &.hide {
    opacity: 0;
  }

  .msg {
    padding: 160px 50px 50px 50px;
    background: url('../../assets/swifticons/Browsertool.png') $light-color no-repeat center 30px;
    font-size: 40px;
    text-align: center;
  }

  .ok {
    margin: 50px 0 0 0;
    padding: 20px 40px;
    border: none;
    background: $highlight-color;
    color: $light-color;
  }
}
