
.button {
  composes: ui from 'semantic-ui-css/components/button.css';
  composes: labeled from 'semantic-ui-css/components/button.css';
  composes: button from 'semantic-ui-css/components/button.css';
}

.main {
  composes: ui from 'semantic-ui-css/components/button.css';
  composes: button from 'semantic-ui-css/components/button.css';
}

.icon {
  composes: heart from 'semantic-ui-css/components/icon.css';
  composes: icon from 'semantic-ui-css/components/icon.css';
}

.label {
  composes: ui from 'semantic-ui-css/components/label.css';
  composes: basic from 'semantic-ui-css/components/label.css';
  composes: label from 'semantic-ui-css/components/label.css';
  composes: label from 'semantic-ui-css/components/button.css';
}
