
.pane {
  composes: ui from 'semantic-ui-css/components/segment.css';
  // composes: tail from 'semantic-ui-css/components/segment.css';
  composes: stacked from 'semantic-ui-css/components/segment.css';
  composes: segment from 'semantic-ui-css/components/segment.css';
}

.divider {
  composes: ui from 'semantic-ui-css/components/divider.css';
  composes: horizontal from 'semantic-ui-css/components/divider.css';
  composes: divider from 'semantic-ui-css/components/divider.css';
}
