
APP_DEVSERVER_HOST=localhost
APP_DEVSERVER_PORT=8000

APP_ENABLE_CHROME_FOR_KARMA=1
APP_ENABLE_PHANTOM_FOR_KARMA=

APP_DISABLE_ESLINT=
APP_DISABLE_JSCS=
APP_DISABLE_STYLELINT=
APP_DISABLE_SASSLINT=
APP_DISABLE_HTMLHINT=

APP_ENABLE_COMMON_CHUNK=1
APP_ENABLE_EXTRACT_CSS=1

# depended by boilerplate and template code for `npm run new entry`
APP_COMMON_CORE_MODULES=["whatwg-fetch", "react", "react-dom", "react-tap-event-plugin", "react-addons-shallow-compare", "redux", "react-redux", "redux-actions", "reselect", "redux-thunk", "react-router", "react-router-redux", "react-helmet", "react-css-modules"]
# depended by example code
APP_COMMON_APP_MODULES=["radium", "classnames", "core-decorators", "react-addons-css-transition-group"]

APP_ENTRY_EXAMPLE_APP="./staticweb/example-app/deploy.js"

# APP_DEMO_LANG="./app/entries/demo-page2"

# https://github.com/ai/browserslist#queries
#APP_BROWSERS=["last 2 versions", "ie 10"]
#APP_BROWSERS=["> 5%", "last 2 versions", "Firefox ESR", "not ie <= 8"]
#APP_BROWSERS=["ie 6-8", "opera 12.1", "ios 6", "android 4"]
APP_BROWSERS=["Android 2.3", "Android >= 4", "Chrome >= 35", "Firefox >= 31", "Explorer >= 9", "iOS >= 7", "Opera >= 12", "Safari >= 7.1"]

RUNTIME_ENV_VARS=[]

APP_DEPLOY_STATIC_CLOUD=oss
APP_DEPLOY_STATIC_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com/static/
APP_DEPLOY_STATIC_HTML_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com

APP_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
APP_DEPLOY_OSS_ID=
APP_DEPLOY_OSS_SECRET=
APP_DEPLOY_OSS_BUCKET=mybucket
