
APP_DEVSERVER_HOST=localhost
APP_DEVSERVER_PORT=8000

APP_DEPLOY_STATIC_CLOUD=oss
APP_DEPLOY_STATIC_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com/static/
APP_DEPLOY_STATIC_HTML_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com

APP_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
APP_DEPLOY_OSS_ID=
APP_DEPLOY_OSS_SECRET=
APP_DEPLOY_OSS_BUCKET=mybucket

APP_CLIENT_OSS_ID=
APP_CLIENT_OSS_SECRET=
APP_CLIENT_OSS_ROLE_ARN=
APP_CLIENT_OSS_ROLE_SESSION_NAME=staticappstarter
APP_CLIENT_OSS_ROLE_ACCOUNTID=
APP_CLIENT_OSS_ROLE_RESOURCE=
