
APP_DEVSERVER_HOST=localhost
APP_DEVSERVER_PORT=8000

APP_DEPLOY_STATIC_CLOUD=oss
APP_DEPLOY_STATIC_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com/static/
APP_DEPLOY_STATIC_HTML_ROOT=http://mybucket.oss-cn-hangzhou.aliyuncs.com

APP_DEPLOY_OSS_ENDPOINT=http://oss-cn-hangzhou.aliyuncs.com
APP_DEPLOY_OSS_ID=
APP_DEPLOY_OSS_SECRET=
APP_DEPLOY_OSS_BUCKET=mybucket
