$footer-text-color: #999;

.root {
  max-width: 800px;
  margin: 1em auto 0 auto;

  @media only screen and (max-width: 840px) {
    margin: 1em;
  }
}

.top {
  composes: ui from 'semantic-ui-css/components/menu.css';
  composes: stackable from 'semantic-ui-css/components/menu.css';
  composes: text from 'semantic-ui-css/components/menu.css';
  composes: menu from 'semantic-ui-css/components/menu.css';
  margin: 0 !important;
}

.top-logo {
  composes: item from 'semantic-ui-css/components/menu.css';
  padding: 0 !important;
}

.top-title {
  composes: item from 'semantic-ui-css/components/menu.css';
  display: block !important;
  font-size: 1.2em !important;
  line-height: 1.4 !important;
}

.top-title-1 {
  display: block;
}

.top-title-2 {
  display: block;
}

.menu {
  composes: ui from 'semantic-ui-css/components/menu.css';
  composes: stackable from 'semantic-ui-css/components/menu.css';
  composes: pointing from 'semantic-ui-css/components/menu.css';
  composes: menu from 'semantic-ui-css/components/menu.css';

  @media only screen and (max-width: 767px) {
    overflow: hidden;
  }
}

.item {
  composes: item from 'semantic-ui-css/components/menu.css';
  cursor: pointer;
}

.item-active {
  composes: item;
  composes: active from 'semantic-ui-css/components/menu.css';
}

.footer {
  min-height: 20px;
  color: $footer-text-color;
  font-size: 0.8em;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
